

.feedback-slider {
	background-color: #f6f8fa;
	padding-bottom: 66px;
	position: relative;
	min-height: 449px;

	&__swiper {
		max-width: 100%;
	}

	&__pagination {
		position: absolute;
		bottom: 22px;
		height: 30px;
		min-width: 108px;
		left: 50%;
		transform: translateX(-50%);
		& .swiper-pagination .swiper-pagination-bullet {
			margin: 0;
			margin-left: 17px;
			color: $accent;
			&:first-child {
				margin-left: 0 !important;
			}
		}
	}

	&__title {
		padding: 27px 0 26px;
	}

	&__wrapper {
		position: relative;
	}
}
.swiper-btn {
	display: none;
}
.slide-review {
	transition: all 0.3s;
	background-color: #fff;
	box-shadow: 0px 5px 24px 0px #0000001a;
	height: auto;
	border-radius: 8px;
	&__container {
		padding: 22px;
		display: flex;
		flex-direction: column;
	}

	&__top {
		display: flex;
		margin-bottom: 20px;
	}

	&__avatar {
		padding-right: 16px;
		& img {
			width: 44px;
			height: 44px;
		}
	}

	&__name {
		font-size: 16px;
		line-height: 24px;
		color: $titlecolor;
		margin-bottom: 4px;
	}

	&__address {
		font-size: 12px;
		line-height: 16px;
	}

	&__content {
		line-height: 24px;
		font-size: $fontsize;
		flex: 1;
	}
}

@media (min-width: 768px) {
	.feedback-slider {
		min-height: 540px;
		padding-bottom: 103px;
		&__title {
			padding: 33px 0 32px;
		}
		&__pagination {
			bottom: 33px;
		}
	}
}

@media (min-width: 1200px) {
	.feedback-slider {
		&__title {
			padding: 57px 0 32px;
		}
		
		&__swiper {
			max-width: 86%;
		}

		&__btn-prev {
			transform: rotate(180deg);
		}

		&__btn-next::after,
		&__btn-prev::after {
			font-size: 0;
		}

		.slide-review {
			cursor: pointer;
			box-shadow: none;
			&:hover {
				box-shadow: 0px 15px 24px 0px #0000001a;
			}
		}
	}

	.swiper-btn {
		display: inline-block;

		& *img {
			width: 32px;
			height: 32px;
		}
	}
}
