.footer {
	margin-top: 27px;
	border-top: 1px solid #eceff2;
	width: 100%;

	&__wr {
		padding: 28px 0;
		& p {
			text-align: center;
			font-size: 18px;
			line-height: 32px;
			color: $titlecolor;
		}
	}

}

@media (min-width:375px) {
	.footer{
		margin-top: 43px;
	}
	
}

@media (min-width:768px) {
	.footer{
		margin-top: 40px;
	}
	
}
@media (min-width:1200px) {
	.footer{
		margin-top: 80px;
	}
	
}