// USER VARIABLES SECTION

$accent: #2a6cea; // Accent Color
$fontsize: 14px; // Body Font Size
$textcolor: #5e646a; // Text Color
$titlecolor: #191c1f;

$userfont: Graphik, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

$container-padding-large: 20px;
$container-padding-small: 16px;
// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 32px;
$gutter: $grid-gutter-width;

// IMPORT SECTION


// import styles bundle
@import "node_modules/swiper/swiper-bundle";


// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format("woff2");
	}
}

@include font("Graphik", normal, 400, "../fonts/GraphikLCG-Regular.woff2");
@include font("Graphik", normal, 600, "../fonts/GraphikLCG-Semibold.woff2");

// GENERAL CSS SETTINGS

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input,
textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}
